<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Community">
    <!-- call  Community.selectListByID-->
    <select id="selectPostList"
    parameterType="Map" resultType="Map">
    <!-- 게시글과 멤버의 모든 column불러옴 -->
       SELECT *
        FROM COMMUNITY_POST 
        inner join MEMBER 
        group by COMMUNITY_CONTENT
        order by POST_NUMBER DESC
    </select>

<!-- 하나만 가져오는 코드 -->
<select id="selectPost"
    parameterType="String" resultType="Map">
    <!-- 게시글과 멤버의 모든 column불러옴 -->
       SELECT *
        FROM COMMUNITY_POST 
        where POST_NUMBER = #{parameter}
    </select>

    <!-- 강사게시판의 게시글만 나오도록 -->
    <select id="selectListLecturer"
    parameterType="Map" resultType="Map">

        select *
        from community_post
        WHERE COMMUNITY_NUMBER = 'C02'
        order by post_number desc
    </select>

    <!-- call  Community.selectListByID-->
    <select id="selectListStudent"
    parameterType="Map" resultType="Map">
    <!-- 게시글과 멤버의 모든 column불러옴 -->
    <!-- 학생게시판   -->
       SELECT *
        FROM COMMUNITY_POST 
        inner join MEMBER 
        where COMMUNITY_NUMBER = 'C03'
        group by COMMUNITY_CONTENT
        order by POST_NUMBER DESC
    </select>

    <!-- 강좌게시판 -->
    <select id="selectLectureList" 
        parameterType="Map" resultType="Map">
        SELECT lecture.LECTURE_NUMBER, lecture.LECTURE_TITLE, lecture.LECTURE_INTRO, lecture.LECTURE_IMAGE, member.MEMBER_ID
        FROM enrollment 
        inner join LECTURE ON LECTURE.LECTURE_NUMBER = enrollment.LECTURE_NUMBER
        inner join MEMBER ON MEMBER.MEMBER_ID = ENROLLMENT.MEMBER_ID
        <!-- where enrollment.MEMBER_ID = #{MEMBER_ID}  -->
        where enrollment.MEMBER_ID = 'circle01'
    </select>

<!-- 공지사항 -->
 <select id="selectListNotice"
    parameterType="Map" resultType="Map">

        select *
        from community_post
        WHERE COMMUNITY_NUMBER = 'C04'
        order by post_number desc

    </select>

    <!-- call  Community.insertPost-->
    <insert id="insertPost" 
        parameterType="Map">
        insert into COMMUNITY_POST                           
        (POST_NUMBER, COMMUNITY_CONTENT, COMMUNITY_TITLE, FILE_ATTACHIMENT, COMMUNITY_DATE, VIEW_COUNT, MEMBER_ID, COMMUNITY_NUMBER, COMMENT_CONTENT, COMMENT_DATE)
        value (NEXTVAL('post'),#{community_content},#{community_title},#{file_Attachiment},now(),'0','circle01',#{community_number}, null, null); 
        <!-- id값과 조회수, 댓글기능만  -->
    </insert>

    <update id="updatePostView" parameterType="String">
    update COMMUNITY_POST
    set VIEW_COUNT  = VIEW_COUNT +1
    where post_number = #{parameter}
    </update>

</mapper>