<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Community">
    <!-- call  Community.selectListByID-->
    <select id="selectListByID"
    parameterType="Map" resultType="Map">
    <!-- 게시글과 멤버의 모든 column불러옴 -->
    <!-- 학생게시판 강사게시판 공동 사용 -->
       SELECT *
        FROM COMMUNITY_POST 
        inner join MEMBER 
        <!-- ON member.MEMBER_ID = community_post.MEMBER_ID -->
        group by COMMUNITY_CONTENT
    </select>

    <!-- call  Community.insertPost-->
    <insert id="insertPost" 
        parameterType="Map">
        insert into COMMUNITY_POST                           
        (POST_NUMBER, COMMUNITY_CONTENT, COMMUNITY_TITLE, FILE_ATTACHIMENT, COMMUNITY_DATE, VIEW_COUNT, MEMBER_ID, COMMUNITY_NUMBER, COMMENT_CONTENT, COMMENT_DATE)
        value ('post17',#{community_content},#{community_title},#{file_Attachiment},now(),'50','ceromi123','C03', null, null); 
        
        <!-- value ('post15','15번째 테스트 시작합니다',#{community_title},null ,now(), '50', 'ceromi123', 'C03', null, null); / 여기가 제목제목목--> 
        <!-- POST_NUMBER 가 자동으로 안겹치게 넣는 방법이 어떻게 될까 모르겠다.. 일단 하드코딩 -->
        <!-- 나 뭘까먹은거지 -->
    </insert>

</mapper>