<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Lecture">
    <select id="selectLectureList" 
        parameterType="Map" resultType="Map">
        SELECT * 
        FROM LECTURE 
    </select>

    <select id="selectLectureID" 
        parameterType="Map" resultType="Map">
        SELECT LECTURE_NUMBER  
        FROM LECTURE 
        WHERE LECTURE_NUMBER = #{LECTURE_NUMBER} 
    </select>

<!-- 로그인 완료시 이름 가져오는 방식 변경해야함 -->
    <select id="selectMemberName_TEMP" 
        parameterType="Map" resultType="Map">
        SELECT MEMBER_NAME   
        FROM MEMBER 
        WHERE MEMBER_ID = 'circle01' 
    </select>

    <select id="selectQuestionList" 
        parameterType="Map" resultType="Map">
        SELECT * 
        FROM POLL_QUESTIONS 
    </select>
    
    <select id="selectAnswerList" 
        parameterType="Map" resultType="Map">
        SELECT * 
        FROM POLL_ANSWERS 
    </select>

    <insert id="insertQnA" 
        parameterType="Map">
        insert into POLL_RESPONSE 
        (PQ01,PQ01_1,PQ02,PQ03,PQ04,POLL_DATE) 
        value (#{PQ01},#{PQ01_1},#{PQ02},#{PQ03},#{PQ04},now());
    </insert>

<!-- 로그인 완료시 이름 가져오는 방식 변경해야함 -->
    <insert id="insertMyLecture" 
        parameterType="Map">
        insert into ENROLLMENT  
        (LECTURE_NUMBER,MEMBER_ID,ENROLL_DATE,ENROLL_EXPIRED_DATE) 
        value (#{LECTURE_NUMBER},'circle01',now(),DATE_ADD(now(), INTERVAL 6 MONTH));
    </insert>

    <select id="selectLectureReview" 
        parameterType="Map" resultType="Map">
        select COMMUNITY_POST.POST_NUMBER, COMMUNITY_POST.COMMUNITY_TITLE, COMMUNITY_POST.MEMBER_ID, COMMUNITY_POST.COMMUNITY_DATE, COMMUNITY_POST.VIEW_COUNT, (select count(*) from POST_COMMENT WHERE POST_NUMBER = COMMUNITY_POST.POST_NUMBER) as cmt_cnt  
        from COMMUNITY_POST 
        join POST_COMMENT on POST_COMMENT.POST_NUMBER = COMMUNITY_POST.POST_NUMBER 
        GROUP BY COMMUNITY_POST.POST_NUMBER, COMMUNITY_POST.COMMUNITY_TITLE , COMMUNITY_POST.MEMBER_ID, COMMUNITY_POST.COMMUNITY_DATE, COMMUNITY_POST.VIEW_COUNT
        ;
    </select>

     <select id="selectMyLectureList" 
        parameterType="Map" resultType="Map">
        select LECTURE.LECTURE_TITLE,MEMBER.MEMBER_NAME, LECTURE.LECTURE_NUMBER 
        from LECTURE 
        join ENROLLMENT on LECTURE.LECTURE_NUMBER = ENROLLMENT.LECTURE_NUMBER 
        join MEMBER on MEMBER.MEMBER_ID = ENROLLMENT.MEMBER_ID 
        WHERE MEMBER.MEMBER_ID = 'circle01'
    </select>



</mapper>