<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Lecture">
    <select id="selectLectureList" 
        parameterType="Map" resultType="Map">
        SELECT * 
        FROM LECTURE 
    </select>

    <select id="selectMemberNameFromLectureListById" 
        parameterType="Map" resultType="Map">
        SELECT MEMBER.MEMBER_NAME  
        FROM LECTURE 
        INNER JOIN MEMBER ON MEMBER.MEMBER_ID = LECTURE.MEMBER_ID
        WHERE LECTURE_NUMBER = #{LECTURE_NUMBER};
    </select>

    <select id="selectQuestionList" 
        parameterType="Map" resultType="Map">
        SELECT * 
        FROM POLL_QUESTIONS 
    </select>
    
    <select id="selectAnswerList" 
        parameterType="Map" resultType="Map">
        SELECT * 
        FROM POLL_ANSWERS 
    </select>

    <insert id="insertQnA" 
        parameterType="Map">
        insert into poll_response 
        (PQ01,PQ01_1,PQ02,PQ03,PQ04,POLL_DATE) 
        value (#{PQ01},#{PQ01_1},#{PQ02},#{PQ03},#{PQ04},now());
    </insert>

</mapper>