<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Memberwithauthority">
	<select id="selectByUID" parameterType="String"
		resultType="Map">
		SELECT * 
		FROM MEMBER
		inner join MEMBER_LOG
		ON MEMBER.MEMBER_ID = MEMBER_LOG.MEMBER_ID
		where MEMBER_LOG.MEMBER_ID = #{username}
	</select>
	
	<insert id="insertWithUID" parameterType="Map">
		insert into MEMBER_LOG 
		(CERTIFICATION_KEY,MEMBER_ID,LOGIN_DATE,LOGIN_STATUS) 
		values(#{CERTIFICATION_KEY},#{MEMBER_ID},now(),'signUp')
	</insert>
</mapper>