<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mypage">
    <!-- call mypage.selectByLectureNumber -->
    <select id="selectByLectureNumber" 
        parameterType="Map" resultType="Map">
        SELECT MEMBER.MEMBER_ID, ENROLLMENT.LECTURE_NUMBER, ENROLLMENT.ENROLL_DATE
        FROM ENROLLMENT
        inner join MEMBER
        ON MEMBER.MEMBER_ID = ENROLLMENT.MEMBER_ID
    </select>

    <!-- 강의번호로 강의 이름알기 -->
    <!-- call mypage.selectLectureNameByLectureNumber -->
    <select id="selectLectureNameByLectureNumber" 
        parameterType="Map" resultType="Map">
        SELECT LECTURE_TITLE, LECTURER_NUMBER
        FROM LECTURE
        WHERE LECTURE_NUMBER = #{LECTURE_NUMBER}
    </select>

    <!-- 강의번호로 강사 이름알기 -->
    <!-- call mypage.selectLecturerNameByMember -->
    <select id="selectLecturerNameByMember" 
        parameterType="Map" resultType="Map">
        SELECT * 
        FROM LECTURER 
        inner join LECTURE ON LECTURE.LECTURER_NUMBER = LECTURER.LECTURER_NUMBER
        inner join MEMBER ON MEMBER.MEMBER_ID = LECTURER.MEMBER_ID
        where LECTURE_NUMBER = #{LECTURE_NUMBER}
    </select>


    <!-- call mypage.selectByMemberID -->
    <select id="selectByMemberID" 
        parameterType="Map" resultType="Map">
        SELECT *
        FROM MEMBER
        WHERE MEMBER_ID = #{MEMBER_ID}
    </select>

    <!-- call mypage.getQuestions -->
    <select id="getQuestions" 
        parameterType="Map" resultType="Map">
    SELECT * 
    FROM test_questions
    </select>

    <!-- call mypage.insertWithUID -->
    <insert id="insertWithUID" parameterType="Map">
        insert into CIP_COMMON_CODE 
            (COMMON_CODE_ID,NAME,ORDER_NUMBER,ATTRIBUTION_1,ATTRIBUTION_2,DESCRIPTION,
            SYSTEM_CODE_YN,USE_YN,PARENT_COMMON_CODE_ID,REGISTER_SEQ,REGISTRY_DATE,MODIFY_DATE,MODIFIER_SEQ) 
        VALUE 
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{COMMON_CODE_ID},#{NAME},#{ORDER_NUMBER},NULL,NULL,#{DESCRIPTION}
            <choose>
                <when test="SYSTEM_CODE_YN != null">
                    , 'Yes'
                </when>
                <otherwise>
                    ,'No'
                </otherwise>
            </choose>
            <choose>
                <when test="USE_YN != null">
                    , 'Yes'
                </when>
                <otherwise>
                    ,'No'
                </otherwise>
            </choose>
            ,NULL,#{REGISTER_SEQ},sysdate(),sysdate(),
            <if test="MODIFIER_SEQ != null">
            #{MODIFIER_SEQ},
            </if>
        </trim>
    </insert>
</mapper>