<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mypage">
    <!-- 날짜만료된거는 안가져오기 -->
    <!-- call mypage.selectByLectureNumberWithDate -->
    <select id="selectByLectureNumberWithDate" 
        parameterType="Map" resultType="Map">
         <![CDATA[
        SELECT MEMBER.MEMBER_ID, ENROLLMENT.LECTURE_NUMBER, MIN(ENROLLMENT.ENROLL_DATE) AS ENROLL_DATE, MIN(ENROLLMENT.ENROLL_EXPIRED_DATE) AS ENROLL_EXPIRED_DATE
        FROM ENROLLMENT
        INNER JOIN MEMBER
        ON MEMBER.MEMBER_ID = ENROLLMENT.MEMBER_ID
        WHERE DATEDIFF(ENROLL_EXPIRED_DATE, SYSDATE()) > 0
        GROUP BY MEMBER.MEMBER_ID, ENROLLMENT.LECTURE_NUMBER
        ]]>
    </select>

    <!-- call mypage.selectByLectureNumber -->
    <select id="selectByLectureNumber" 
        parameterType="Map" resultType="Map">
        SELECT MEMBER.MEMBER_ID, ENROLLMENT.LECTURE_NUMBER, MIN(ENROLLMENT.ENROLL_DATE) AS ENROLL_DATE, MIN(ENROLLMENT.ENROLL_EXPIRED_DATE) AS ENROLL_EXPIRED_DATE
        FROM ENROLLMENT
        INNER JOIN MEMBER
        ON MEMBER.MEMBER_ID = ENROLLMENT.MEMBER_ID
        GROUP BY MEMBER_ID, LECTURE_NUMBER
    </select>


    <!-- 강의번호로 강의 이름알기 -->
    <!-- call mypage.selectLectureNameByLectureNumber -->
    <select id="selectLectureNameByLectureNumber" 
        parameterType="Map" resultType="Map">
        SELECT LECTURE_TITLE, LECTURER_NUMBER
        FROM LECTURE
        WHERE LECTURE_NUMBER = #{LECTURE_NUMBER}
    </select>

    <!-- 강의번호로 강사 이름알기 -->
    <!-- call mypage.selectLecturerNameByMember -->
    <select id="selectLecturerNameByMember" 
        parameterType="Map" resultType="Map">
        SELECT * 
        FROM LECTURER 
        INNER JOIN LECTURE ON LECTURE.LECTURER_NUMBER = LECTURER.LECTURER_NUMBER
        INNER JOIN MEMBER ON MEMBER.MEMBER_ID = LECTURER.MEMBER_ID
        where LECTURE_NUMBER = #{LECTURE_NUMBER}
    </select>


    <!-- call mypage.selectByMemberID -->
    <select id="selectByMemberID" 
        parameterType="Map" resultType="Map">
        SELECT *
        FROM MEMBER
        WHERE MEMBER_ID = #{MEMBER_ID}
    </select>

    <!-- call mypage.selectByQAlist -->
    <select id="selectByQAlist" 
        parameterType="Map" resultType="Map">
        SELECT * 
        FROM TEST_ANSWERS 
        inner join TEST_QUESTIONS 
        where TEST_ANSWERS.QUESTION_UID = TEST_QUESTIONS.QUESTION_UID
    </select>

    <!-- call mypage.updateOneByLECTURE_NUMBER -->
    <update id="updateOneByLECTURE_NUMBER" parameterType="Map">
        UPDATE ENROLLMENT
        SET ENROLL_EXPIRED_DATE  = SYSDATE()
        WHERE LECTURE_NUMBER = #{LECTURE_NUMBER} and MEMBER_ID = #{MEMBER_ID}
        ORDER BY ENROLL_DATE DESC
        LIMIT 1
    </update>

    <!-- call mypage.deleteFromMemberlogByMEMBERID -->
    <delete id="deleteFromMemberlogByMEMBERID" parameterType="Map">
        DELETE 
        FROM MEMBER_LOG
        WHERE MEMBER_ID = #{MEMBER_ID}
    </delete>

    <!-- call mypage.deleteFromMemberByMEMBERID -->
    <delete id="deleteFromMemberByMEMBERID" parameterType="Map">
        DELETE 
        FROM MEMBER
        WHERE MEMBER_ID = #{MEMBER_ID}
    </delete>

    <!-- call mypage.updateByMEMBERID -->
    <update id="updateByMEMBERID" parameterType="Map">
        UPDATE MEMBER
        SET PW = #{PW}, BIRTH = #{BIRTH}, EMAIL = #{EMAIL}, SMS_AD = #{SMS_AD}, EMAIL_AD = #{EMAIL_AD}
        WHERE MEMBER_ID = #{MEMBER_ID};
    </update>

</mapper>